.history {
  max-width: 830px;
  align-items: left;
  text-align: left;
  font-size: 24px;
  position: relative;
}

.history__title {
  font-size: 54px;
  font-family: "Inter-Black";
}

.history__text {
  margin-top: 40px;
}

.history__author {
  position: absolute;
  right: 100px;
  text-align: right;
}

.history__footer {
  margin-top: 65px;
  font-size: 16px;
  line-height: 2;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .history {
    width: 100%;
    font-size: 24px;
  }

  .history__title {
    font-size: 32px;
  }

  .history__footer {
    font-size: 16px;
    line-height: 1.5;
  }

  .history__author {
    margin-top: 10px;
    font-size: 22px;
    right: 3px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .history {
    max-width: 768px;
    font-size: 24px;
  }

  .history__title {
    font-size: 45px;
  }

  .history__text br {
    display: none;
  }

  .history__footer {
    font-size: 16px;
    line-height: 1.5;
  }

  .history__author {
    right: 1px;
  }

}